.navbar {
  display: flex;
  background: black;
  text-align: center;
  margin: auto;
  height: 5rem;
  padding: 0;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.navbar a {
  margin: auto;
  text-decoration: none;
  color: aliceblue;
}

.navbar li {
  display: flex;
  justify-content: center;
  background-color: black;
  margin: 0 0 0 2rem;
  cursor: pointer;
  height: 95%;
}

.navbar li:hover {
  border-bottom: 4px solid rgb(28, 168, 250);
}

.navbar h1 {
  font-size: 20px;
  align-self: center;
  margin: auto;
}

/* dropdown menu */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-top: 5rem;
  display: none;
  position: absolute;
  background-color: black;
  box-shadow: 0px 8px 16px 0px rgba(228, 219, 219, 0.74);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  min-width: 150px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: rgb(28, 168, 250);
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* dropdown menu end */
