.footer-container {
  background: #242a56;
  text-align: center;
}

.footer-container p {
  color: white;
  padding: 2rem;
  margin: 0;
}

.footer {
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: solid 1px rgb(105, 107, 252);
  margin-left: auto;
}

.footer article {
  text-align: left;
  color: white;
}

.footer img {
  width: 150px;
}

.footer-row a {
  display: block;
  color: white;
  text-decoration: none;
  padding-top: 3px;
}

.footer-row ul {
  padding: 0;
  list-style: none;
}

.footer-row {
  display: block;
  color: white;
  padding: 40px 20px 40px 0px;
  text-align: left;
  max-width: 350px;
}

.contact {
  display: flex;
}

.contact a {
  margin-left: 1rem;
}

.contact i {
  width: 15px;
  padding-top: 5px;
}

.footer-row h4 {
  font-weight: 700;
  font-size: 20px;
}

.fb-group {
  font-size: 25px;
  margin-top: 1rem;
}
