.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #242a56;
  text-align: center;
}

.footer-container p {
  color: white;
  margin: 0 1rem 0 1rem;
  padding: 2rem 2rem 1.5rem 2rem;
  border-top: solid 1px rgb(105, 107, 252);
}

.footer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.footer img {
  width: 150px;
}

.footer-row {
  display: block;
  color: white;
  padding: 2rem 0 2rem 0;
  text-align: left;
  max-width: 350px;
}

.footer-row h4 {
  margin-bottom: 1rem;
  font-weight: 700;
  font-size: 20px;
}

.footer-row a {
  display: block;
  color: white;
  text-decoration: none;
  padding-top: 3px;
}

.footer-row ul {
  padding: 0;
  list-style: none;
}

.companie {
  padding-left: 5rem;
  padding-right: 10rem;
}

.contact {
  display: flex;
}

.contact a {
  margin-left: 1rem;
}

.contact i {
  width: 15px;
  padding-top: 5px;
}

.fb-group {
  font-size: 25px;
  margin-top: 1rem;
}

@media (max-width: 1024px) {
  .footer-row {
    text-align: center;
  }

  .contact {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }

  .footer-row {
    text-align: center;
    padding: 0.5rem 0 0.5rem 0;
  }

  .contact {
    justify-content: center;
  }

  .contact-container {
    padding-bottom: 2rem;
  }
}
